<div class="container-fluid">
  <h1>Enrollment form</h1>
  <form #userForm="ngForm">

     <!---------------------------Remove start : Below block is for understanding--->
     {{userForm.value | json}}
     <hr/>
     {{userModel | json}}
     <div class="form-group">
         <label>Test</label>
         <input type="text" required #test class = "form-control" name="testName" [(ngModel)]="userModel.test">    
      </div>
      {{test}}
      classes - {{test.className}} <!-- try changing value on screen and see the effect-->
      <!--Note that #test is not bind to ngModel-->
      <!---------------------------Remove end   ------------------------------------>

      <div class="form-group">
         <label>Name</label>
         <input type="text" required #name="ngModel" class="form-control" name="userName" [(ngModel)]="userModel.name">    
      </div>

      Is untouched - {{name.untouched}}, Is pristine - {{name.pristine}}, Is valid - {{name.valid}}<br>
      Is touched - {{name.touched}}, Is dirty - {{name.dirty}}, Is invalid - {{name.invalid}}<br>
      <!--Why touch/untouch work only on loose focus?-->

     <div class="form-group">
        <label>Email</label>
        <input type="email" class = "form-control" name="email" [(ngModel)]="userModel.email">    
     </div>

     <div class="form-group">
        <label>Phone</label>
        <input type="tel" class = "form-control" name="phone" [(ngModel)]="userModel.phone">    
     </div>
     
     <div class="form-group">
      <label>Select</label>
      <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
         <option value="">Choose your topic</option>
         <option *ngFor="let topic of topics"> {{topic}}</option>
      </select>
   </div>

   <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
         <label class="form-check-label">Morning</label>
      </div>
      <div class="form-check">
            <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
            <label class="form-check-label">Evening</label>
      </div>
   </div>

   <div class="form-check mb-3">
         <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
         <label class="form-check-label">Send me promotional offers</label>
   </div>

   <!--See the use of ngModelGroup -->
   <!-- 
      <div ngModelGroup="address">
      <div class="form-group">
         <label>Street</label>
         <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
         <label>City</label>
         <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
         <label>State</label>
         <input type="text" class="form-control" name="state" ngModel>
      </div>
      <div class="form-group">
         <label>Postal Code</label>
         <input type="text" class="form-control" name="postalCode" ngModel>
      </div>
   </div>
-->

   <button class="btn btn-primary" type="submit">Submit Form</button>
  </form>
</div>







